#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Delete user:</h2>
        <form id="delete_user" action="/deleteUser" method="post">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter username to delete" value="" required>

            <p><input type="submit" value="Delete user"></p>
        </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
        #end
    </div>
</main>
</div>
</body>
</html>
