#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Delete store:</h2>
        <form id="delete_store" method="post">
            <p>Store name</p>
            <input type="text" name="storeName" placeholder="Enter store to delete" value="" required>

            <p><input type="submit" value="Delete store"></p>
        </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
        #end
    </div>
</main>
</div>
</body>
</html>
