#* @implicitly included *#
#* @vtlvariable name="success" type="java.lang.Boolean" *#
#* @vtlvariable name="fail" type="java.lang.Boolean" *#
#* @vtlvariable name="response" type="java.lang.String" *#
#* @vtlvariable name="userToken" type="java.lang.String" *#
#* @vtlvariable name="currentUser" type="java.lang.String" *#
#* @vtlvariable name="isLoggedIn" type="java.lang.Boolean" *#
#* @vtlvariable name="isLoggedOut" type="java.lang.Boolean" *#
#* @vtlvariable name="isAdmin" type="java.lang.Boolean" *#
#* @vtlvariable name="cart_fail" type="java.lang.Boolean" *#
#* @vtlvariable name="cart_success" type="java.lang.Boolean" *#
#* @vtlvariable name="cart_response" type="java.lang.String" *#
#* @vtlvariable name="store" type="main.DTO.StoreDTO" *#
#* @vtlvariable name="stores" type="java.lang.Iterable<main.DTO.StoreDTO>" *#
#* @vtlvariable name="products" type="java.lang.Iterable<main.DTO.ProductDTO>" *#
#* @vtlvariable name="product" type="main.DTO.ProductDTO" *#
#* @vtlvariable name="cart" type="main.DTO.ShoppingCartDTO" *#
#* @vtlvariable name="staff" type="java.lang.Iterable<java.lang.String>" *#
#* @vtlvariable name="history" type="java.lang.Iterable<java.lang.String>" *#
#* @vtlvariable name="sys_stats" type="java.lang.String" *#
#* @vtlvariable name="logged_in_vs_registered_stats" type="java.lang.String" *#
#* @vtlvariable name="productName" type="java.lang.String" *#
#* @vtlvariable name="storeName" type="java.lang.String" *#
#* @vtlvariable name="bids" type="java.lang.Iterable<main.DTO.BidDTO>" *#
#* @vtlvariable name="bid_fail" type="java.lang.Boolean" *#
#* @vtlvariable name="bid_success" type="java.lang.Boolean" *#
#* @vtlvariable name="response_bid" type="java.lang.String" *#
#* @vtlvariable name="fail_discount" type="java.lang.Boolean" *#
#* @vtlvariable name="success_discount" type="java.lang.Boolean" *#
#* @vtlvariable name="requests" type="java.lang.Iterable<main.DTO.OwnerAppointmentRequestDTO>" *#
#* @vtlvariable name="success_approveOrDelete" type="java.lang.Boolean" *#
#* @vtlvariable name="fail_approveOrDelete" type="java.lang.Boolean" *#
#* @vtlvariable name="response_vote" type="java.lang.String" *#



