#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Send a complaint to system manager:</h2>
                    <form id="send_complaint" method="post">
                        <p>Complaint description</p>
                        <input type="text" name="desc" value="" required>
                        <p><input type="submit" value="Send complaint"></p>
                    </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
        #end
    </div>
</main>
</div>
</body>
</html>
