#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
            #foreach($record in $history)
                <p>$record</p>
            #end
        #end
        </div>
    </div>
</main>
</div>
</body>
</html>
