#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Manage your stores' inventory:</h2>
        <form id="add_product_to_store" method="post">
            <input type="hidden" name="userToken" id="userToken" value="">
            <script type="text/javascript">
                document.getElementById("userToken").setAttribute('value',localStorage.getItem("userToken"));
            </script>
            <p>Select your store</p>
            <select name="storeName">
                #foreach($store in $stores)
                    <option value="$store.getStoreName()">$store.getStoreName()</option>
                #end
            </select>
            <h2>Product details</h2>
            <p>Product name</p>
            <input type="text" name="productName" placeholder="Enter product name" value="" required>
            <p>Product category</p>
            <input type="text" name="category" placeholder="Enter product category" value="" required>
            <p>Product keywords</p>
            <input type="text" name="keyWords" placeholder="Enter key words separated by ','" value="" required>
            <p>Product description</p>
            <input type="text" name="description" placeholder="Enter product description" value="" required>
            <p>Product quantity</p>
            <input type="number" name="quantity" placeholder="Enter product quantity" value="" required>
            <p>Product price</p>
            <input type="number" name="price" placeholder="Enter product price" value="" required>
            <p><input type="submit" value="Add product to store"></p>
        </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
        #end
    </div>
</main>
</div>
</body>
</html>
