#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Manage your stores' inventory, select your preferred action:</h2>
            <h2><span><a href="/addProductToStore">Add new product to the store</a> </span> | <span><a href="/updateProductInStore">Update product</a></span></h2>
    </div>
</main>
</div>
</body>
</html>
