#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Open store</h2>
        <form id="open store" method="post">
            <input type="hidden" name="userToken" id="userToken" value="">
            <script type="text/javascript">
                document.getElementById("userToken").setAttribute('value',localStorage.getItem("userToken"));
            </script>
            <p>Store name</p>
            <input type="text" name="storeName" placeholder="Enter store name" value="" required>
            <p><input type="submit" value="Open store"></p>
        </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
        #end
    </div>
</main>
</div>
</body>
</html>
