#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Re-Open/close stores:</h2>
        <form id="reopen_or_close_store" method="post">
            <input type="hidden" name="userToken" id="userToken" value="">
            <script type="text/javascript">
                document.getElementById("userToken").setAttribute('value',localStorage.getItem("userToken"));
            </script>
            <p>Select your store</p>
            <select name="storeName">
                #foreach($store in $stores)
                    <option value="$store.getStoreName()">$store.getStoreName()</option>
                #end
            </select>
            <input type="radio" name="closeOrOpen" value="open" checked> Open
            <input type="radio" name="closeOrOpen" value="close"> Close
            <p><input type="submit" value="Open/close store"></p>
        </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
        #end
    </div>
</main>
</div>
</body>
</html>
