#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Update product in store:</h2>
        <form action="/updateProductInStore" id="update_product_in_store" method="post">
            <input type="hidden" name="userToken" id="userToken" value="">
            <script type="text/javascript">
                document.getElementById("userToken").setAttribute('value',localStorage.getItem("userToken"));
            </script>
            <p>Select your store</p>
            <select name="storeName" id="sname">
                #foreach($store in $stores)
                    <option value="$store.getStoreName()">$store.getStoreName()</option>
                #end
            </select>
            <h2>Product details</h2>
            <p>Product name to update</p>
            <input type="text" id="pname" name="productName" placeholder="Enter product name" value="" required>
            <p>New Product category</p>
            <input type="text" name="category" placeholder="Enter product category" value="" required>
            <p>New product keywords</p>
            <input type="text" name="keyWords" placeholder="Enter key words separated by ','" value="" required>
            <p>New product description</p>
            <input type="text" name="description" placeholder="Enter product description" value="" required>
            <p>New product quantity</p>
            <input type="number" name="quantity" placeholder="Enter product quantity" value="" required>
            <p>New product price</p>
            <input type="number" name="price" placeholder="Enter product price" value="" required>
            <p><input type="submit" value="Update product"></p>
        </form>
        <form id="delete_product" action="/deleteProduct" method="post">
            <input type="hidden" name="storeName" id="storeName">
            <input type="hidden" name="productName" id="productName">
            <script type="text/javascript">
                const fun = () => {
                    document.getElementById("storeName").setAttribute('value', document.getElementById("sname").value);
                    document.getElementById("productName").setAttribute('value', document.getElementById("pname").value);
                    document.getElementById("delete_product").submit();
                };
            </script>
            <p><button onclick="fun()">Delete product</button></p>
        </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
        #end
    </div>
</main>
</div>
</body>
</html>
