#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>View bids</h2>
        <form method="post">
            <p>Store name</p>
            <input type="text" name="storeName">

            <p><input type="submit" value="View Requests"></p>
        </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
            #foreach($req in $requests)
                <h2>Requesting Owner : $req.getRequestedBy()</h2>
                <p>User to Appoint : $req.getUserToAppoint()</p>
                <form method="post" action="/approveBid">
                    <input type="hidden" name="storeName" value="$storeName">
                    <input type="hidden" name="userName" value="$req.getUserToAppoint()">
                    <input type="submit" value="Approve bid">
                </form>
                <form method="post" action="/declineBid">
                    <input type="hidden" name="storeName" value="$storeName">
                    <input type="hidden" name="userName" value="$req.getUserToAppoint()">
                    <input type="submit" value="Decline bid">
                </form>
            #end
        #end

        #if($bid_fail)
            <p id="failed_response">$response_bid</p>
        #elseif($bid_success)
            <p id="success_response">$response_bid</p>
        #end

    </div>
</main>
</div>
</body>
</html>
