#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Add auction policy to product $productName</h2>
        <form action="/handleAddAuctionPolicy" method="post">
            <input type="hidden" value="$productName" name="productName">
            <input type="hidden" value="$storeName" name="storeName">
            <p>Highest Price</p>
            <input type="number" name="price" required>
            <p>Until</p>
            <input type="date" name="untilDate" required>
            <p><input type="submit" value="Add policy"></p>
        </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
        #end
    </div>
</main>
</div>
</body>
</html>
