#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Add conditional discount</h2>
        <form action="/handleAddConditionalDiscount" method="post">
            <input type="hidden" value="$productName" name="productName">
            <input type="hidden" value="$storeName" name="storeName">
            <p>Discount percent</p>
            <input type="number" name="percent" step="0.01" required>
            <p>Date of discount expiration</p>
            <input type="date" name="expDate" required>
            <p>Quantity (above the discount is triggered)</p>
            <input type="number" name="quantity" required>
            <p><input type="submit" value="Add conditional discount"></p>
        </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
        #end
    </div>
</main>
</div>
</body>
</html>
