#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
        <h2>Add secret discount</h2>
        <form action="/handleAddSecretDiscount" method="post">
            <input type="hidden" value="$productName" name="productName">
            <input type="hidden" value="$storeName" name="storeName">
            <p>Discount percent</p>
            <input type="number" name="percent" step="0.01" required>
            <p>Date of discount expiration</p>
            <input type="date" name="expDate" required>
            <p>Secret code</p>
            <input type="text" name="secretCode" required>
            <p><input type="submit" value="Add secret discount"></p>
        </form>
        #if($fail)
            <p id="failed_response">$response</p>
        #elseif($success)
            <p id="success_response">$response</p>
        #end
    </div>
</main>
</div>
</body>
</html>
