#parse("/velocity/layout.vm")
#parse("/velocity/index.vm")
#@mainLayout()
#end
<main>
    <div class="content">
            <form id="purchaseCart" method="post">
                <p>Card number</p>
                <input type="text" name="cardNumber" value="" required>
                <p>Expiration date</p>
                <input type="date" name="ExpDate" required>
                <p>CVV</p>
                <input type="text" name="cvv" value="" required>
                <p>Card holder name</p>
                <input type="text" name="name" value="" required>
                <p>Email</p>
                <input type="text" name="email" value="" required>
                <p><input type="submit" value="Purchase cart"></p>
            </form>
    </div>
</main>
</div>
</body>
</html>
